
.navbar{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 18px;
    font-weight: 500;
}

.navItems{
    display: flex;
}

.navLink{    
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    font-size: 18px;
    font-weight: 500;
}